body {
  background-color: white;
}

.cell {
  background-color: #aaa;
  transition: background-color 500ms ease-out;
  width: 30px;
  height: 30px;
}

.redCell {
  background-color: red;
  transition: background-color 100ms ease-in;
}

.blueCell {
  background-color: blue;
  transition: background-color 100ms ease-in;
}

/* .active {
  background-color: #CAFE48;
  transition: background-color 100ms ease-in;
} */
