* {
  color: white;
}

body {
  background-color: black;
}

button {
  background-color: white;
  color: black;
  margin: 12px;
}

.container {
  padding: 24px;
  margin: 0 auto;
  width: fit-content;
}

.cell {
  background-color: #524948;
  color: white;
}

.boundary {
  background-color: transparent;
  color: transparent;
}

.cell, .boundary {
  width: 70px;
  height: 70px;
  text-align: end;
  vertical-align: bottom;
}
